.add-song-in-parade {
    background-color: white;
    display: grid;
}

.songs {
  display: flex;
  flex-direction: column;
  padding-block-end: 20px;
}

tr li {
  list-style: none;
}

section {
  box-sizing: content-box;
  width: fit-content;
  background-color: whitesmoke;
}

form {
  min-width: 100%;
}

table {
	background: white;
  display: flex;
  margin: 0;
}

td {
	padding: 2rem 1rem;
	align-self: center;
	font-size: 14px;
	line-height: 17px;
}

tr {
	display: flex;
	flex-direction: row;
	padding: 0 2rem;
}

.delete  {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 20px;
    height: 20px;
}

.score  {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 20px;
  height: 20px;
}

ul li {
  list-style: none;
}